In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datos_homeloan.csv')

# Normalización Min Max

In [4]:
df['ApplicantIncome_norm'] = (df['ApplicantIncome'] - df['ApplicantIncome'].min()) / (df['ApplicantIncome'].max() - df['ApplicantIncome'].min())
df['LoanAmount_norm'] = (df['LoanAmount'] - df['LoanAmount'].min()) / (df['LoanAmount'].max() - df['LoanAmount'].min())
df['LoanAmountTerm_norm'] = (df['LoanAmountTerm'] - df['LoanAmountTerm'].min()) / (df['LoanAmountTerm'].max() - df['LoanAmountTerm'].min())

In [5]:
print(df)

      Loan_ID  Gender Married Dependents     Education SelfEmployed  \
0    LP001002    Male      No          0      Graduate           No
1    LP001003    Male     Yes          1      Graduate           No
2    LP001005    Male     Yes          0      Graduate          Yes
3    LP001006    Male     Yes          0  Not Graduate           No
4    LP001008    Male      No          0      Graduate           No
..        ...     ...     ...        ...           ...          ...
609  LP002978  Female      No          0      Graduate           No
610  LP002979    Male     Yes         3+      Graduate           No
611  LP002983    Male     Yes          1      Graduate           No
612  LP002984    Male     Yes          2      Graduate           No
613  LP002990  Female      No          0      Graduate          Yes

     ApplicantIncome CoapplicantIncome  LoanAmount  LoanAmountTerm  \
0               5849                 0         NaN           360.0
1               4583              1508       128.0           360.0
2               3000                 0        66.0           360.0
3               2583              2358       120.0           360.0
4               6000                 0       141.0           360.0
..               ...               ...         ...             ...
609             2900                 0        71.0           360.0
610             4106                 0        40.0           180.0
611             8072               240       253.0           360.0
612             7583                 0       187.0           360.0
613             4583                 0       133.0           360.0

    PropertyArea LoanStatus  ApplicantIncome_norm  LoanAmount_norm  \
0          Urban          Y              0.070489              NaN
1          Rural          N              0.054830         0.172214
2          Urban          Y              0.035250         0.082489
3          Urban          Y              0.030093         0.160637
4          Urban          Y              0.072356         0.191027
..           ...        ...                   ...              ...
609        Rural          Y              0.034014         0.089725
610        Rural          Y              0.048930         0.044863
611        Urban          Y              0.097984         0.353111
612        Urban          Y              0.091936         0.257598
613    Semiurban          N              0.054830         0.179450

     LoanAmountTerm_norm
0               0.743590
1               0.743590
2               0.743590
3               0.743590
4               0.743590
..                   ...
609             0.743590
610             0.358974
611             0.743590
612             0.743590
613             0.743590

[614 rows x 15 columns]

# Normalización Z (estandarización)

In [6]:
df['ApplicantIncome_norm'] = (df['ApplicantIncome'] - df['ApplicantIncome'].mean()) / df['ApplicantIncome'].std()
df['LoanAmount_norm'] = (df['LoanAmount'] - df['LoanAmount'].mean()) / df['LoanAmount'].std()
df['LoanAmountTerm_norm'] = (df['LoanAmountTerm'] - df['LoanAmountTerm'].mean()) / df['LoanAmountTerm'].std()

In [9]:
print(df['LoanAmountTerm_norm'], df['LoanAmount_norm'], df['ApplicantIncome_norm'])

0      0.276411
1      0.276411
2      0.276411
3      0.276411
4      0.276411
         ...
609    0.276411
610   -2.487699
611    0.276411
612    0.276411
613    0.276411
Name: LoanAmountTerm_norm, Length: 614, dtype: float64 0           NaN
1     -0.215127
2     -0.939534
3     -0.308599
4     -0.063236
         ...
609   -0.881114
610   -1.243317
611    1.245369
612    0.474227
613   -0.156707
Name: LoanAmount_norm, Length: 614, dtype: float64 0      0.072931
1     -0.134302
2     -0.393427
3     -0.461686
4      0.097649
         ...
609   -0.409796
610   -0.212383
611    0.436818
612    0.356773
613   -0.134302
Name: ApplicantIncome_norm, Length: 614, dtype: float64